/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.visible{
    display: none;
}
.invisible {
    display: block;
}
.sticky {
    background-color: #fff;
    position: fixed;
    width: 100%
}
.Absolute-Bottom {
    height: auto;
    z-index: 120;
    float: left;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + #main {
  padding-top: 100px;
} */

.margin {
    margin-top: 80px;
}
.vbottom {
    margin-top: 20px;
    float:right;
    display:inline-block;
    vertical-align:middle !important;
}
#statusbar {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    min-width: 220px;
    max-width: 100%;
    margin-top: -10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    float: left;
    height:auto;
    overflow-y:auto;
    overflow-x:hidden;
    border-bottom: 2px solid #C0C0C0;
    font-size: .9em;
}
@media(max-width:960px) {
    #statusbar {
        margin-top: 50px;
    }
}

@media(max-width:767px) {
    .col-left {
        width: 50%;
    }
    .col-right {
        width: 50%;
    }
    #statusbar {
        margin-top: 0px;
      border: 1px solid #999;
      border-radius: 3px;
      width: 100%;
      line-height: 130%;
      min-width: 220px;
      top: 0px;
      max-width: 100%;
      padding: 2%;
      height:auto;
      overflow-y:auto;
      overflow-x:hidden;
      font-size: 1em;
    }
    #statusbar h2 {
      font-size: 1.5em;
      margin-top:0px;
    }
    #statusbar button {
        margin-top: 10px;
    }
    .Absolute-Bottom {
        z-index: 120;
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .margin {
        margin-top: 0px;
    }
}
.fade-in  {
    animation: slide-down .4s;
    animation-fill-mode: both
}
@keyframes slide-down {
    from {
        z-index: 100;
        position:fixed;
        top: 0px;
        opacity:0
    }
    to {
        z-index: 100;
        padding-top: 110px;
        position:fixed;
        /* padding-top: 70px; */
        color: #000;
        /* background-color: #185182; */
        top: 0px;
        opacity:1;
    }
}
